@font-face {
    font-family: 'Nexa-Bold';
    src: url('../font/Nexa-Bold.eot'); 
    src: url('../font/Nexa-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Nexa-Bold.woff2') format('woff2'), 
         url('../font/Nexa-Bold.woff') format('woff'),
         url('../font/Nexa-Bold.ttf')  format('truetype'), 
        
  }

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Nexa-Bold", sans-serif !important;
    background-color: #181025;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
ul{
    list-style:none;
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
.container
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #332941;
    height: 50px;
}
header .content{
display: flex;
justify-content: space-between;
align-items: center;
gap: 5px;
}
header .links{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 8px;
}
header .links li{
    text-transform: capitalize;
    height: 50px;
    line-height: 50px;
   
}
header .links li a.linkimg{
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    margin-left: -10px;
}
header .links li a.nav{
    height: 100%;
    display: block;
  
    font-size: 9px;
    font-weight: 500;
color: white;
}
header .links li.folder{
    display: block;
  
    font-size: 9px;
    font-weight: 700;
color: white;
text-transform: lowercase;
}
header .links li a.active{
   background-color: #181025;
   padding: 0 10px;
   color: #8a64fe;
}


header .links img{
    width: 100%;
    height: 100%;
}
header .right{
   

}
header .right .person{
   background-color: #000;
border-radius: 5px;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
height: 18px;
padding: 1px 0;
/* gap: 5px; */
}
header .right .personanimat{
   position: relative;
   width: 67px;
   height: 100%;
}
header .right .personanimat canvas{
   position: absolute;
    /* background: #111; */
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 113;
    padding: 0 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header .right .person p{
   margin: 0;
font-size: 8px;
padding: 5px;
padding-left: 0;
}
header .right .person .usericon{
  background-color: #241c31;
 
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
padding: 5px;
color: #09cc6a;
}
header .links .folder{
   
    height: 60%;
   
}
header .links .folder a{
    background-color: #8866fb;
    padding: 5px;
    border-radius: 5px;
    height: 60%;
    color: white;
   
 }
header .links .folder .en{
    background-color: #241c31;
   
 }

 /* start nav  */
 nav{
    margin-top: 20px;
 }
 nav .content ul{
display: flex;
justify-content: space-between;
align-items: center;
gap: 10px;
 }
 nav .content ul li a{
color: white;
display: block;
font-size: 9px;
font-weight: 500;
position: relative;
text-transform: capitalize;
 }
 
 nav .content ul li a.active{
    position: relative;
 }
 nav .content ul li a.active::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #32fc84;
    bottom: -10px;
 left: 50%;
 border-radius: 5px;
 transform: translateX(-50%);
 }


 .annonce{
    background-image: linear-gradient(to right,#8f3cee, #557ddd);
    margin-top: 10px;
 }
 .annonce .content, .annonce .content .text,.annonce .content .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 5px;
 }
 .annonce .content .text{
    gap: 5px;
 }
 .annonce .content .text i{
    font-size: 15px;
 }
 .annonce .content .text p{
font-size: 7px;
text-transform: capitalize;
font-weight: 500;
 }
 .annonce .content .social{
font-size: 11px;
gap: 5px;
 }
 .annonce .content .social a{
    color: white;
 }
 /* end nav  */
 /* start schema  */
 .schema{
    margin: 15px 0;
    margin-top: -10px;
    z-index: 112;
    position: relative;

 }
 .schema .head{
display: flex;
justify-content: space-between;
align-items: center;
color: white;

 }
 .schema .head h2{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
 }
 .schema .head .setting,.beta .setting{
 color: white;
 background-color: #312842;
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
 }
 .schema .scemaRank{
    color: white;
 }
 .schema .scemaRank .ranhHead, .schema .scemaRank .rankcontent{
   display: flex;
   justify-content: space-between;
   align-items: center;
  gap: 8px;
 }
 .schema .scemaRank .ranhHead th,.schema .scemaRank td{
   font-size: 11px;
text-align: center;
font-weight: 500;
text-transform: capitalize;
 }
 .schema .scemaRank .rankcontent{
  
 }
 .schema .scemaRank .rankcontent p {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .schema .scemaRank .rankcontent p img{
 width: 25px;
 height: 25px;
 }
 table{
    color: white;
    text-align: center;
    border-collapse:separate; 
  border-spacing: 0 .5em;
  /* border-collapse: collapse; */
  width: 100%;
  
 }

 td:first-child,
 th:first-child {
   border-radius: 10px 0 0 10px;
 }
 td:last-child,
 th:last-child {
   border-radius: 0 10px 10px 0;
 }
table .ranhHead{
    height: 50px;
}
table th{
    font-size: 7px;

}
table td{
    font-size: 7px;}
 table th,table td{
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
 }
 .schema .first{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .schema .rankcontent{
    color: white;
    background-color: #332941;
    border-radius: 5px;
    text-transform: capitalize;
    
 }
 .schema table td i{
    color: #32fc84;
 }
 .schema .rankcontent td{
    /* padding:0px 5px; */
 }

 .schema table img{
    width: 25px;
    height: 25px;
    }

 /* end schema  */
 /* start uschema  */
 .Uschema{
    background-color: #332941;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    margin-bottom: 0;
 }
 .Uschema .rankcontent{
    background-color: #241c31;
 }
 .Uschema .Ufirst{
    gap: 10px;
 }
 .Uschema .Ufirst img{
    background-color: #181025;
    padding: 5px;
    border-radius: 5px;
 }
 .Uschema .first span{
    margin: 10px 0;
   
 }
 .Uschema .first span :last-child{
color: #ffffffb0;
font-size: 7px;
 }
 .Uschema .date{
    color: #ffffffb0;
    display: block;
    text-align: end;
    font-size: 7px;
    padding-right:15px ;
 }
 .Uschema .date span:last-child{
  display: block;
  margin-top: 3px;
 }
 .Uschema .Ufirst{

 }
 .Uschema .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;

 }
 .Uschema .btn button{
background-color: #7603ff;
color: white;
border: none;
width: 60%;
border-radius: 6px;
padding: 10px 0;
font-size: 13px;
font-weight: 500;

 }
 /* end uschema  */
 /* master */
.master{
   margin-top: 25px;
}
.master .content{
   color: white;
   
}
.master .head{
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-transform: capitalize;
}
.master .head h3,.master .head p{
   margin: 0;

}

.master .head h3{
   font-size: 14px;
}
.master .head h3 span{
   color: #1fa15b;
}
.master .head p{
   font-size: 10px ;
   margin-bottom: 10px;
}
.master .masterprogress{
   background-color: #332941;
   padding:10px;
   border-radius: 8px;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   height: 70px;
   justify-content: center;
}
.master .masterprogress:last-child{
   
   padding:15px 10px;
   height: 85px;
}
.master .progress {
   width: 100%;
   -webkit-appearance: none;
   appearance: none;
   border: none;
   border-radius: 10px;
   height: .5rem;
 }
 
 .master .progress::-webkit-progress-bar {
   background-color: black;
  
 }
 
 .master .progress::-webkit-progress-bar,
 .master .progress::-webkit-progress-value {
   border-radius: 5px;
 }
 
 .master .progress::-moz-progress-bar {
   border-radius: 10px;
   
 }
 
 .master .progress1::-webkit-progress-value {
   background: #ffc33a;
  
 }
 
.master .progress2::-webkit-progress-value {
   background: #34fb84;
 }
 

.master .masterprogress .info{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.master .masterprogress .info p{
   font-size: 11px;
   margin: 0;
}
.master .masterprogress .info .invest{
color: #d84558;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.master .masterprogress .info .invest span,.master .masterprogress:last-child .info p span{
color: #d84558;
border-radius: 50%;
border: 1px solid #d84558;
display: block;
width: 16px;
height: 16px;
display: flex;
justify-content: center;
align-items: center;
font-size: 10px;
}
.master .masterprogress .info .invest span,.master .masterprogress:last-child .info p span i{
font-size: 8px;
}
.master .masterprogress:last-child .info{
   color: #34fb84;
  
}
.master .masterprogress:last-child .info p{
  
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
  
}
.master .masterprogress:last-child .info p span{
   border: 1px solid #34fb84;
   color: #34fb84;
}
 /* master */
 /* secarchAddress */
 .secarchAddress{
   background-color: #241c31;
   margin-top: 30px;
   position: relative;
   padding-bottom: 50px;
   overflow-x: hidden;
   overflow-y: hidden;
 }
 .secarchAddress .content{
padding-top: 30px;
display: flex;
flex-direction: column;
gap: 30px;
margin-bottom: 30px;
 }
 .secarchAddress .content input{
width: 100%;
padding:12px 10px;
background-color: #181025;
border: none;
border-radius: 6px;
 }
 .secarchAddress .content input::placeholder{
color: #8c8597;
font-size: 12px;
font-weight: 700;
 }
 .secarchAddress .boxs{
   display: flex;
   flex-direction: column;
   gap: 4px;
  position: relative;
  align-items: end;
 }
 .secarchAddress .manBox{
   display: flex;
   justify-content: end;
   align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  /* gap: 5%; */
  width: 100%;
 }
 .secarchAddress .manBox .box{
   background-color: #fdc53a;
   display: flex;
   flex-direction: column;
padding: 10px;
gap: 10px;
border-radius: 7px;
width: 90%;
z-index: 112;
 }
 .secarchAddress .manBox .direc{
  width: 18px;
   height: 18px;
border: 1px dashed white;
border-radius: 50%;
color: white;
display: flex;
justify-content: center;
align-items: center;
 }
 .secarchAddress .manBox .direc::after{
   content: "";
   position: absolute;
   width: 1px;
   height: 100%;
   background-color: white;
   bottom: -7.5%;
 }
 .secarchAddress .manBox .direc::before{
   content: "";
   /* width: 5%; */
   height: 1px;
   position: absolute;
   background-color: white;
   left: 10.5%;
   /* width: calc(10% - 18px); */
   width: 100% !important;
 }
 .secarchAddress .manBox .direc i{
 font-size: 10px;
 }
 .secarchAddress .manBox .box p{
   margin: 0;
   font-size: 9px;
   font-weight: 700;
 }
 .secarchAddress .manBox .box .boxinfo{
display: flex;
justify-content: space-between;
align-items: center;
text-transform: capitalize;
 }
 .secarchAddress .manBox2{
   /* margin-left: 25px; */
   /* gap: 7%; */
   width: 95%;
 }
 .secarchAddress .manBox2 .direc::after{
   top: 19.5%;
   height: 20%;
 }
 .secarchAddress .manBox2 .direc::before{
   left: 15%;
  
    width: calc(12% - 18px);;
 }

 .secarchAddress .manBox2 .box{
   background-color: #32fc84;
   width: 88%;
  
 }
 .secarchAddress .manBox2 .box p{
   
   font-size: 8px;
 }
 .secarchAddress .box2Cust .box{
background-color: #b9afc8;
/* width: 90%; */
 }
 .secarchAddress .box2Cust .direc{
height: 0;
width: 0;
border: none;
 }
 .secarchAddress .box2Cust .direc::before{
   left: 13%;
   /* width: 11%; */
   width: calc(10% - 8px);
 }
 .secarchAddress .box2Cust .direc::after{
  display: none;
 }
 .secarchAddress .manBox2  .dircgreen::after{
   height: 100%;
   top: 43%;
  }
 .secarchAddress .manBox3{
   width: 90%;
 }
 .secarchAddress .manBox3 .box{
   background-color: #32fc84;
   width: 85%;
 }
 .secarchAddress .boxcustom3 .box{
   background-color: #b9afc8;
 }
 .secarchAddress .manBox3  .box p{
   font-size: 7px;
 }
 .secarchAddress .manBox3  .direc::before{
  left: 20%;
 width: calc(15% - 18px)
 }
.secarchAddress .boxcustom3 .boxcustom3dir::after{

   height: 7.5%;

   top: 54%;
}
.secarchAddress .manBox3 .boxcustom4dir::after{

   height: 7.5%;

   top: 64.5%;
}
.secarchAddress .manBox3 .boxcustom5dir::after{

   height: 7.5%;

   top: 75.5%;
}
.secarchAddress .manBox3 .boxcustom6dir::after{

   height: 7.5%;

   top: 86%;
}
.secarchAddress .manBox3 .boxcustom7dir::after{

   height: 10.5%;

   top: 96.5%;
}
 /* secarchAddress */










/* responsive */
@media (max-width:320px){
   header .links li a.nav{
   
      font-size: 7px !important;
     
  }
  header .links li.folder{
    
    
      font-size: 7px !important;
    
  }
  header .right .person{
 gap: 0px;
  }
  header .right .person p{

font-size: 7px !important;
}
}
@media (min-width:370px){
   header .right .personanimat{
      width: 65px;
   }
   header .links li a.nav{
      font-size: 12px;
   }
   header .links{
      gap: 7px;
   }
   header .right .person p{
      font-size: 10px;
   }
   header .links .folder .en {
      font-size: 12.5px;
      font-weight: 900;
      padding: 4px 3px
   }
   
   nav .content ul li a{
      font-size: 13px;
     
   }
   .annonce .content .text p {
      font-size: 10px;
   }
   .annonce .content .social{
      font-size: 13px;
   }
   .schema .head h2 {
      font-size: 15px;
      margin: 0;
   }
   table th {
      font-size: 9px;
   }
   table td {
      font-size: 11px;
      
   }
   .Uschema .first span :last-child{
      font-size: 8px;
   }
   .Uschema .date{
      
    text-align: end;
    width: 100%;
    padding-right: 15px;
   }
    /* master */
 .master{
   margin-top: 25px;
}
.master .content{
   color: white;
   
}
.master .head{
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-transform: capitalize;
}
.master .head h3,.master .head p{
   margin: 0;

}

.master .head h3{
   /* font-size: 17px; */
}
.master .head h3 span{
   color: #1fa15b;
}
.master .head p{
   font-size: 14px;
   margin-bottom: 10px;
}
.master .masterprogress{
   background-color: #332941;
   padding:10px;
   border-radius: 8px;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   height: 70px;
   justify-content: center;
}
.master .masterprogress:last-child{
   
   padding:15px 10px;
   height: 85px;
}
.master .progress {
   width: 100%;
   -webkit-appearance: none;
   appearance: none;
   border: none;
   border-radius: 10px;
   height: .5rem;
 }
 
 .master .progress::-webkit-progress-bar {
   background-color: black;
  
 }
 
 .master .progress::-webkit-progress-bar,
 .master .progress::-webkit-progress-value {
   border-radius: 5px;
 }
 
 .master .progress::-moz-progress-bar {
   border-radius: 10px;
   
 }
 
 .master .progress1::-webkit-progress-value {
   background: #ffc33a;
  
 }
 
.master .progress2::-webkit-progress-value {
   background: #34fb84;
 }
 

.master .masterprogress .info{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.master .masterprogress .info p{
   font-size: 12px;
   margin: 0;
}
.master .masterprogress .info .invest{
color: #d84558;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.master .masterprogress .info .invest span,.master .masterprogress:last-child .info p span{
color: #d84558;
border-radius: 50%;
border: 1px solid #d84558;
display: block;
width: 16px;
height: 16px;
display: flex;
justify-content: center;
align-items: center;
font-size: 10px;
}
.master .masterprogress .info .invest span,.master .masterprogress:last-child .info p span i{
font-size: 8px;
}
.master .masterprogress:last-child .info{
   color: #34fb84;
  
}
.master .masterprogress:last-child .info p{
  
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
  
}
.master .masterprogress:last-child .info p span{
   border: 1px solid #34fb84;
   color: #34fb84;
}
 /* master */
 /* secarchAddress */
 

 
 .secarchAddress .content input::placeholder{

font-size: 15px;

 }
 
 .secarchAddress .manBox{
   /* display: flex;
   justify-content: end;
   align-items: center;
  justify-content: space-between;
  padding-left: 15px; */
  /* gap: 7%; */
 }
 .secarchAddress .manBox .box{
   background-color: #fdc53a;
   display: flex;
   flex-direction: column;
padding: 10px;
gap: 10px;
border-radius: 7px;
 }
 .secarchAddress .manBox .direc{
  width: 18px;
   height: 18px;
border: 1px dashed white;
border-radius: 50%;
color: white;
display: flex;
justify-content: center;
align-items: center;
 }
 .secarchAddress .manBox .direc::before{
   content: "";
   width: 7%;
   height: 1px;
   position: absolute;
   background-color: white;
   /* left: 9%; */
   left: calc(10% - 4px);
 }
 .secarchAddress .manBox .direc i{
 font-size: 10px;
 }
 .secarchAddress .manBox .box p{
   margin: 0;
   font-size: 11px;
   font-weight: 700;
 }
 .secarchAddress .manBox .box .boxinfo{
display: flex;
justify-content: space-between;
align-items: center;
text-transform: capitalize;
 }
 .secarchAddress .manBox2{
   /* margin-left: 25px; */
   /* gap: 7%; */
 }
 .secarchAddress .manBox2 .direc::before{
   /* left: 16%; */
   left: calc(12% + 6px);
 }
 .secarchAddress .manBox2 .direc::after {
   top: 19%;
   height: 20%;
}
 .secarchAddress .manBox2 .box{
   background-color: #32fc84;
   /* width: 80%; */
  
 }
 .secarchAddress .manBox2 .box p{
   
   font-size: 9px;
 }
 .secarchAddress .manBox3  .box p{
   font-size: 8px;
 }
 .secarchAddress .box2Cust .direc{
   height: 0;
   width: 0;
   border: none;
    }
    .secarchAddress .box2Cust .direc::before{
      left: 14%;
      width: 10%;
      left: calc(10% + 6px);
    }
    .secarchAddress .box2Cust .direc::after{
     display: none;
    }
    .secarchAddress .manBox2  .dircgreen::after{
      height: 100%;
      top: 42%;
     }
    .secarchAddress .manBox3{
      
    }
    .secarchAddress .manBox3 .box{
      background-color: #32fc84;
    }
    .secarchAddress .boxcustom3 .box{
      background-color: #b9afc8;
    }
  
    .secarchAddress .manBox3  .direc::before{
     left: 24%;
     left: calc(15% + 15px);
     /* ddddd */
    }
   .secarchAddress .boxcustom3 .boxcustom3dir::after{
   
      height: 8%;
   
      top: 53%;
   }
   .secarchAddress .manBox3 .boxcustom4dir::after{
   
      height: 8%;
   
      top: 64%;
   }
   .secarchAddress .manBox3 .boxcustom5dir::after{
   
      height: 8%;
   
      top: 74.5%;
   }
   .secarchAddress .manBox3 .boxcustom6dir::after{
   
      height: 7.5%;
   
      top: 86%;
   }
   .secarchAddress .manBox3 .boxcustom7dir::after{
   
      height: 10.5%;
   
      top: 96.5%;
   }
}

/* responsive */
